
@import 'variables';


.formFieldSection {
    padding: 20px 0;

    .row {
        .column3{
            padding: 0 5px ;
        }
    }
}

.form-group { //global form group styling 
    margin: 0px;
    & label.label {
        @include groupLabel();
    }
    .planned {
        @include font(0.8em, 400);
        color: grey;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
}

// form input groups
.form-input-group1,
.form-input-group2,
.form-input-group3,
.form-input-group4 {
    padding: 10px 10px;
}

.input-group { // margin bottom global
    margin-bottom: 5px !important;

}

.formField1 {
    .form { @include border(2px solid $border-main, 10px); }

    .groupLabel1 { background-color: rgba(211, 211, 211, 0.3); }

    .form-input-group1 { background-color: white; }

    .validate {
        border-left-width: 5px;
        border-left-color: $progress;
    }
    //button
    .submit1 { @include submit();}
}

.input-group-text {
    display: inline-flex;
    -webkit-box-align: center;
    text-align: center;
    white-space: nowrap;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    background-color: #27AFDF;
    padding: 0.2rem 0.5rem;
}


// manual placing of the placeholders
.form-control.control1.validate::placeholder { @include placeholder(black);}

.form-control.control1::placeholder{ @include placeholder(blue); }

.form-control { @include formControl(); }

.control1 {
    display: inline-flex;
    margin-bottom: 8px;
    @include formControl();
    @include border(1px solid lightgrey); 
}


// popover 
.popover-body {
    @include border(1px solid $border-main, 5px);
    background-color: white;
    width: auto;
    color: black;
    border-left-width: 5px;
    border-left-color: $danger;
    font-size: 1em;
}
//popover arrow
.arrow {
    left: 90% !important;
}

//font awsome icon properties
.fa-exclamation-circle {
    position: absolute;
    top: 35%;
    right: 5%;
    color: $danger;
    font-size: 1em;
}
.form-control-feedback.credit {
    @include feedbacks( 0.6em, 10%, 3%, default);
}
.form-control-feedback.addcredit {
    @include feedbacks(0.6em, 10%, default, 15.5%);
   
}

// hiding the submit buttoms and the basic addons for the other form groups
.submit2,
.submit3,
.submit4 {
    @include submit();
    display: none;
}
.basic-addons2,
.basic-addons3,
.basic-addons4 {
    display: none;
}

















